* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}


#usersTable {
    max-width: 1200px;
    min-height: 300px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
}

#table {
    table-layout: fixed;
    width: 600px;
    border-collapse: collapse;
    border: 3px solid black;
    text-align: start;
}

#table-head {
    width: 100%;
}

#table-body {
    width: 100%;
}

#head-tr {
    width: 100%;
}

tr {
    height: 30px;
}

th {
    width: 30%;
    text-align: start;
}

td {
    width: 30%;
}